@import "/UI/Theme.scss";

SpireHud {
    pointer-events: none;

    .cursor {
        pointer-events: none;
        &.enabled {
            pointer-events: all;
        }
    }

    &.invisible {
        display: none;
    }

    > .controls {
        position: absolute;
        padding: $safe-zone-y $safe-zone-x $safe-zone-x $safe-zone-y;
        bottom: 0;
        flex-direction: column;

        inputhint {
            margin-top: 4px;
        }
    }
}

// Default label properties
label {
    font-family: $primary-font;
    color: white;
    text-shadow: 1px 1px 2px black;
}
