@import "/UI/Theme.scss";

.abilitypanel {
    width: 64px;
    height: 64px;
    background-color: rgba( black, 0.5 );
    border-radius: 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.1s ease;
    border: 1px solid black;

    > InputHint {
        position: absolute;
        bottom: -40px;
    }

    > .cooldown-label {
        position: absolute;
        top: 10px;
        font-size: 32px;
    }

    > .no-ability-panel {
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;

        > .icon {
            font-family: MaterialIcons;
            font-size: 50px;
            color: rgba( black, 0.5 );
            text-shadow: none;
        }

        opacity: 0;
    }

    > .on-cooldown-panel {
        transition: all 0.1s ease;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
    }

    &.on-cooldown {
        transform: scale( 0.95 );
        border: 2px solid rgba( red, 0.8 );

        > .on-cooldown-panel {
            opacity: 1;
            background-color: rgba( black, .9 );
            border-radius: 0px;
        }
    }

    &.no-ability {
        > .no-ability-panel {
            opacity: 1;
        }
    }

    &.in-use {
        transform: scale( 1.05 );
        border: 1px solid rgb(76 255 0);

        > .on-cooldown-panel {
            opacity: 1;
            background-color: rgba( black, 0.6 );
            border-radius: 0px;
        }
    }

    &.character-cooldown {
        > .on-cooldown-panel {
            opacity: 1;
            background-color: rgba( black, 0.5 );
            border-radius: 0px;
        }
    }

    &.interacting {
        > .on-cooldown-panel {
            opacity: 1;
            background-color: rgba( black, 0.5 );
            border-radius: 0px;
        }
    }

    &.interacting-self {
        border: 1px solid #32936F;
        transform: scale( 1.1 );
    }
}
