@import "/UI/Theme.scss";

DamageIndicator {
    pointer-events: none;
    position: absolute;

    > .text {
        font-size: 32px;
        font-weight: bold;
        color: rgba( 255, 55, 55, 0.5 );
    }

    &:outro {
        opacity: 0;
        transition: opacity 0.1s ease, transform 0.5s ease;
        transform: scale(5);
    }
}
