@import "/UI/Theme.scss";

ScoreAvatar {
    transition: all 0.2s ease;
    width: 56px;
    height: 46px;
    margin-right: 4px;
    background-position: top;

    &.dead {
        top: 8px;
        opacity: 0.2;
    }

    > .label {
        position: absolute;
        top: -32px;
        width: 100%;
        height: 100%;
        font-size: 18px;
        font-family: $secondary-font;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    > .name {
        position: absolute;
        top: 32px;
        width: 100%;
        height: 100%;
        font-size: 12px;
        font-family: $secondary-font;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    > .avatar {
        border: 1px solid $nameplate-color;
        background-image: linear-gradient( to bottom, rgba( black, 1 ), rgba( black, 0 ) );
    }
}

ClashHudPanel {
    position: absolute;
    width: 100%;
    height: 100%;

    > .header {
        flex-direction: column;
        width: 100%;
        height: 90px;
        justify-content: center;
        align-items: center;
        align-content: center;

        > .separator {
            position: absolute;
            top: 90px;
            width: 140px;
            height: 40px;

            > .game-state {
                width: 100%;
                height: 100%;
                font-size: 24px;
                font-family: $secondary-font;
                text-align: center;
                justify-content: center;
                align-items: center;
                align-content: center;
            }
        }

        > .scores {
            box-shadow: 0px 0px 20px rgba( black, 0.5 );

            > .team-members {
                min-width: 64px;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-content: center;
                padding-right: 8px;
                padding-left: 8px;
            }
        }
    }
}